Repository sscheib/sscheib.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyspelling, yamllint, markdown-link-check

pyspelling:
  name: pyspelling
  language: python
  entry: pyspelling --name markdown --source
  pass_filenames: true
  verbose: true

yamllint:
  name: yamllint
  language: python
  entry: yamllint
  pass_filenames: true
  verbose: true

markdown-link-check:
  name: markdown-link-check
  language: node
  entry: markdown-link-check -vp -c .markdown-link-check.json
  pass_filenames: true
  verbose: true

Excluding datenschutzerklaerung
  .pre-commit-config.yaml
Due: yamllint

Fixing whitespace
  datenschutzerklaerung.md
Due: pyspelling, markdown-link-check

Removing leftovers of trying to implement search functionality; Fixing an incorrect codeblock
  _posts/2023-05-08-ansible-apis-jinja2.md
  assets/search.js
  search.md
Due: pyspelling, markdown-link-check

Adding jsonlint
  .pre-commit-config.yaml
Due: yamllint

Adding native jsonlint
  .pre-commit-config.yaml
Due: yamllint

Fixing jsoncheck
  .pre-commit-config.yaml
Due: yamllint

Fixing formatting
  .markdown-link-check.json
Due: none

Ordering keys
  .pre-commit-config.yaml
Due: yamllint

Adding --assume-in-merge
  .pre-commit-config.yaml
Due: yamllint

Applying ATX style for headings
  .markdownlint.yml
Due: yamllint

jekyll build from Action 2db461df743a6c381d40591c6e97b76c59efbedf
  .nojekyll
  2023/05/01/debootstrapping-debian.html
  2023/05/08/ansible-apis-jinja2.html
  2023/05/30/redhat-satellite-concept.html
  2023/06/21/ansible_automation_platform_promptable_promptable_job_templates.html
  2023/07/01/highly-customized-kickstart.html
  2023/07/09/automating-satellite.html
  2023/08/28/debootstrapping-debian-bookworm.html
  2023/10/03/ansible-role-rhel_iso_kickstart.html
  2023/11/22/github-actions-ansible.html
  2023/11/26/ansible-galaxy-publish-roles.html
  2024/02/17/execution-environments.html
  404.html
  CNAME
  README.md
  about/index.html
  assets/css/style.css
  assets/main.css
  assets/minima-social-icons.svg
  datenschutzerklaerung.html
  datenschutzerklaerung.md
  favicon.ico
  feed.xml
  impressum.html
  impressum.md
  index.html
Due: pyspelling, markdown-link-check

Fixing accidental removal of too much text
  .github/spellcheck/spellcheck.yml
Due: yamllint

fix: Updating markdown-link-check and pre-commit config to use remote repositories
  .markdown-link-check.json
  .pre-commit-config.yaml
Due: yamllint

Updating markdown-link-check call
  .pre-commit-config.yaml
Due: yamllint

Updating yamllint call
  .pre-commit-config.yaml
  _posts/2023-05-08-ansible-apis-jinja2.md
  _posts/2024-02-17-execution-environments.md
Due: pyspelling, yamllint, markdown-link-check

Adding prepend
  .github/spellcheck/spellcheck.dic
  .github/spellcheck/wordlist.txt
Due: none

Fixing dead links
  _posts/2023-05-01-debootstrapping-debian.md
  _posts/2023-08-28-debootstrapping-debian-bookworm.md
Due: pyspelling, markdown-link-check

ci: Add raspberrypi.com as exception for markdown-link-check
  .markdown-link-check.json
Due: none

ci: Run markdown-link-check only on modified files
  .github/workflows/markdown-link-check.yml
Due: yamllint

feat: Adding commitlint
  .commitlintrc.js
  .pre-commit-config.yaml
Due: yamllint

feat: Adding stages to hooks
  .pre-commit-config.yaml
Due: yamllint

ci: Adding commitlint workflow
  .github/workflows/commitlint.yml
Due: yamllint

feat: Adding blog post RPi 11 to RPi 12
  _posts/2024-04-14-upgrade-raspberry-bullseye-bookworm.md
Due: pyspelling, markdown-link-check

feat: Adding section for mounting certificates
  .github/spellcheck/spellcheck.dic
  .github/spellcheck/wordlist.txt
  _posts/2024-02-17-execution-environments.md
Due: pyspelling, markdown-link-check

fix: Removing usage of plugin jekyll-last-modified-at
  .github/spellcheck/spellcheck.yml
  Gemfile
  Gemfile.lock
  _layouts/post.html
  _posts/2023-05-01-debootstrapping-debian.md
  _posts/2023-05-08-ansible-apis-jinja2.md
  _posts/2023-05-30-redhat-satellite-concept.md
  _posts/2023-06-21-ansible_automation_platform_promptable_promptable_job_templates.md
  _posts/2023-07-01-highly-customized-kickstart.md
  _posts/2023-07-09-automating-satellite.md
  _posts/2023-08-28-debootstrapping-debian-bookworm.md
  _posts/2023-10-03-ansible-role-rhel_iso_kickstart.md
  _posts/2023-11-22-github-actions-ansible.md
  _posts/2023-11-26-ansible-galaxy-publish-roles.md
  _posts/2024-02-17-execution-environments.md
  _posts/2024-04-14-upgrade-raspberry-bullseye-bookworm.md
Due: pyspelling, yamllint, markdown-link-check

feat: Adding new blog post Writing Efficient Ansible Code
  .github/spellcheck/spellcheck.dic
  .github/spellcheck/wordlist.txt
  _posts/2024-06-04-efficient-ansible-code.md
Due: pyspelling, markdown-link-check

fix: Squashing some typos and rewriting for clarity
  _posts/2024-06-04-efficient-ansible-code.md
Due: pyspelling, markdown-link-check

feat: Adding reading time
  _includes/reading-time.html
  _layouts/post.html
Due: none

jekyll build from Action bcba82e7ef85fe67200ff40cb6fa09e8742d70bd
  .nojekyll
  2023/05/01/debootstrapping-debian.html
  2023/05/08/ansible-apis-jinja2.html
  2023/05/30/redhat-satellite-concept.html
  2023/06/21/ansible_automation_platform_promptable_promptable_job_templates.html
  2023/07/01/highly-customized-kickstart.html
  2023/07/09/automating-satellite.html
  2023/08/28/debootstrapping-debian-bookworm.html
  2023/10/03/ansible-role-rhel_iso_kickstart.html
  2023/11/22/github-actions-ansible.html
  2023/11/26/ansible-galaxy-publish-roles.html
  2024/02/17/execution-environments.html
  2024/04/14/upgrade-raspberry-bullseye-bookworm.html
  2024/06/04/efficient-ansible-code.html
  404.html
  CNAME
  README.md
  about/index.html
  assets/css/style.css
  assets/main.css
  assets/minima-social-icons.svg
  datenschutzerklaerung.html
  datenschutzerklaerung.md
  favicon.ico
  feed.xml
  impressum.html
  impressum.md
  index.html
Due: pyspelling, markdown-link-check

fix: Replace dead links with appropriate replacements
  _posts/2023-05-01-debootstrapping-debian.md
  _posts/2023-07-01-highly-customized-kickstart.md
  _posts/2023-07-09-automating-satellite.md
  _posts/2023-08-28-debootstrapping-debian-bookworm.md
Due: pyspelling, markdown-link-check

ci: Exlude cyber.mil from link checking
  .markdown-link-check.json
Due: none

ci: Bumping actions/upload-artifact to v4
  .github/workflows/pyspelling.yml
Due: yamllint

jekyll build from Action 3f5d15c49a0eb5375abdcf01fa98c051775f614c
  .nojekyll
  2023/05/01/debootstrapping-debian.html
  2023/05/08/ansible-apis-jinja2.html
  2023/05/30/redhat-satellite-concept.html
  2023/06/21/ansible_automation_platform_promptable_promptable_job_templates.html
  2023/07/01/highly-customized-kickstart.html
  2023/07/09/automating-satellite.html
  2023/08/28/debootstrapping-debian-bookworm.html
  2023/10/03/ansible-role-rhel_iso_kickstart.html
  2023/11/22/github-actions-ansible.html
  2023/11/26/ansible-galaxy-publish-roles.html
  2024/02/17/execution-environments.html
  2024/04/14/upgrade-raspberry-bullseye-bookworm.html
  2024/06/04/efficient-ansible-code.html
  404.html
  CNAME
  README.md
  about/index.html
  assets/css/style.css
  assets/main.css
  assets/minima-social-icons.svg
  datenschutzerklaerung.html
  datenschutzerklaerung.md
  favicon.ico
  feed.xml
  impressum.html
  impressum.md
  index.html
Due: pyspelling, markdown-link-check

jekyll build from Action 07c1a3ca2d21d38560d138e99c8c3ed864fb0c08
  .nojekyll
  2023/05/01/debootstrapping-debian.html
  2023/05/08/ansible-apis-jinja2.html
  2023/05/30/redhat-satellite-concept.html
  2023/06/21/ansible_automation_platform_promptable_promptable_job_templates.html
  2023/07/01/highly-customized-kickstart.html
  2023/07/09/automating-satellite.html
  2023/08/28/debootstrapping-debian-bookworm.html
  2023/10/03/ansible-role-rhel_iso_kickstart.html
  2023/11/22/github-actions-ansible.html
  2023/11/26/ansible-galaxy-publish-roles.html
  2024/02/17/execution-environments.html
  2024/04/14/upgrade-raspberry-bullseye-bookworm.html
  2024/06/04/efficient-ansible-code.html
  404.html
  CNAME
  README.md
  about/index.html
  assets/css/style.css
  assets/main.css
  assets/minima-social-icons.svg
  datenschutzerklaerung.html
  datenschutzerklaerung.md
  favicon.ico
  feed.xml
  impressum.html
  impressum.md
  index.html
Due: pyspelling, markdown-link-check

ci: Excluding gnu.org often returns 0, causing failed CI/CD checks
  .markdown-link-check.json
Due: none

chore: Updating jekyll-deploy-action
  .github/workflows/build-jekyll.yml
Due: yamllint

jekyll build from Action 602aa6c7afd107532e5b612261449701a923f8ca
  .nojekyll
  2023/05/01/debootstrapping-debian.html
  2023/05/08/ansible-apis-jinja2.html
  2023/05/30/redhat-satellite-concept.html
  2023/06/21/ansible_automation_platform_promptable_promptable_job_templates.html
  2023/07/01/highly-customized-kickstart.html
  2023/07/09/automating-satellite.html
  2023/08/28/debootstrapping-debian-bookworm.html
  2023/10/03/ansible-role-rhel_iso_kickstart.html
  2023/11/22/github-actions-ansible.html
  2023/11/26/ansible-galaxy-publish-roles.html
  2024/02/17/execution-environments.html
  2024/04/14/upgrade-raspberry-bullseye-bookworm.html
  2024/06/04/efficient-ansible-code.html
  404.html
  CNAME
  README.md
  about/index.html
  assets/css/style.css
  assets/main.css
  assets/minima-social-icons.svg
  datenschutzerklaerung.html
  datenschutzerklaerung.md
  favicon.ico
  feed.xml
  impressum.html
  impressum.md
  index.html
Due: pyspelling, markdown-link-check

chore: Fixing dead Ansible rulebook link
  _posts/2024-06-04-efficient-ansible-code.md
Due: pyspelling, markdown-link-check

chore: Add changelog entry for fixing dead Ansible rulebooks link
  _posts/2024-06-04-efficient-ansible-code.md
Due: pyspelling, markdown-link-check

ci: Adding wiki.debian.org to ignore
  .markdown-link-check.json
Due: none

Path conditions:
  pyspelling: any of: .+\.md$
  yamllint: any of: \.(yaml|yml)$
  markdown-link-check: any of: .+\.md$
